﻿@{
    ViewBag.Title = "Travel";

    Layout = "/Views/MasterView.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Index">HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="/Home/About">ABOUT </a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row tour">
    <div class="col-sm-12">
        <div class="img_edit">
           @using (Ajax.BeginForm("AddTour", "Home", new AjaxOptions { UpdateTargetId = "addTour", HttpMethod = "Post" }, new { enctype = "multipart/form-data" }))
           {
                <br />
                <h5>Выберите файл для загрузки</h5>
                <input type="file" name="upload" id="upload" /><br>
                <br />
                <h5>Country</h5>
                <input type="text" name="nameCountry" id="nameCountry" value="" class="form-control" />
                <br />
                <h5>Hotel's name</h5>
                <input type="text" name="nameHotel" id="nameHotel" value="" class="form-control" />
                <br />
                <h5>date of arrival</h5>
                <input type="date" name="dateArrival" id="dateArrival" value="2019-01-01" class="form-control" />
                <br />
                <h5>price</h5>
                <input type="number" name="price" id="price" value="0" class="form-control" />
                <br />
                <h5>amount day</h5>
                <input type="number" name="amountDay" id="amountDay" value="0" class="form-control" />
                <br />
                <h5>about hotel</h5>
                <input type="text" name="aboutHotel" id="aboutHotel" value="" class="form-control" />
                <br />
                <input type="submit" name="addTour" id="addTour" value="Add tour" class="btn btn-info"/>
                <br />
           }
        </div>
    </div>
</div>