﻿@{
    ViewBag.Title = "Travel/ReadMore";

    Layout = "/Views/MasterView.cshtml";
}

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Home/Index">HOME <span class="sr-only">(current)</span></a></li>
                <li><a href="/Home/About">ABOUT </a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row tour">

    <div class="col-sm-12">
        <!--Создаю основной блок-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--Указываю количество индикаторов в соответствии с количеством изображений-->
            <ol class="carousel-indicators">
                @Html.Action("GetIndicator", "Home", new { hotel = ViewBag.Hotel })
            </ol>
            <!--Заполняю слайды-->
            <center>
                <div class="carousel-inner" role="listbox">
                    @Html.Action("GetCarousel", "Home", new { hotel = ViewBag.Hotel })
                </div>
            </center>

            <!--Создаю боковые кнопки управления-->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="read">
            <h3>Hotel's name  is @ViewBag.NameHotel </h3>
            <h4>Date of arrival @ViewBag.DateArrival</h4>
            <h3>Price @ViewBag.Price$</h3>
            <h3>@ViewBag.AmountDay days</h3>
            <h3>Cost is @ViewBag.Cost$</h3>
            <p>@ViewBag.AboutHotel</p>
        </div>
    </div>   
</div>

